@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
	background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}


/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	width: 22px;
	height: 42px;
	top: 52%;
	font-size: 0;
	color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url(../img/slider-left.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
	z-index: 1;
}

.slick-next {
	background-image: url(../img/slider-right.svg);
}

.slick-prev {
	left: 0;
}

[dir='rtl'] .slick-prev {
	right: 0;
	left: auto;
}

.slick-next {
	right: 0;
}

[dir='rtl'] .slick-next {
	right: auto;
	left: 0;
}

.slick-prev:hover,
.slick-next:hover {
	opacity: 0.6;
}

.slick-prev:active,
.slick-next:active {
	opacity: 0.1;
}


/* Dots */

.slick-dots {
	position: absolute;
	bottom: 39px;
	width: 100%;
	height: 0;
}
.tariffs__slider .slick-dots{
	bottom: -33px;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 19px;
}
.slick-dots li:last-of-type {
	margin-right: 0;
}

.slick-dots button {
	font-size: 0;
	display: inline-block;
	position: relative;
	width: 6px;
	height: 6px;
	background-color: #283645;
	border-radius: 50%;
	opacity: 0.3;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease-in;
}

.slick-dots button:hover {
	opacity: 0.6;
}

.slick-dots button:active {
	opacity: 0.1;
}

.slick-dots .slick-active button {
	opacity: 1;
	width: 12px;
	height: 12px;
	margin-left: -3px;
	background-color: #ffffff;
	border: 3px solid #283645;
	transition: background-color 0.3s ease-in;
}
@media (min-width:700px){
	.slick-dots{
		bottom: 20px;
	}
}